<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Elenco de TBBT</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <header><a href="/home">INFO - HOME</a><a href="/spin">SPIN-OFF</a></header>

        <h1>Elenco de The Big Bang Theory</h1>

        <p>Confira abaixo o elenco principal dessa amada série televisiva:</p>
        <br><br>
        <ol>
            <li>
                <h3>Sheldon Cooper - Jim Parsons</h3>
                <img class="casters" src="https://cdn.britannica.com/65/240565-050-9E3EC559/American-actor-Jim-Parsons-2019.jpg" alt="jim parsons" height="200" weidth="150">
            </li>
            <li>
                <h3>Leonard Hofstadter - Johnny Galecki</h3>
                <img class="casters" src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/33631_v9_bc.jpg" alt="johnny galecki" height="200" weidth="150">
            </li>
            <li>
                <h3>Howard Wolowitz - Simon Helberg</h3>
                <img class="casters" src="https://br.web.img3.acsta.net/pictures/15/08/03/12/14/143455.jpg" alt="simon helberg" height="200" width="150">
            </li>
            <li>
                <h3>Rajesh Koothrappali - Kunal Nayyar</h3>
                <img class="casters" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Kunal_Nayyar_at_Berlinale_2024.jpg/1200px-Kunal_Nayyar_at_Berlinale_2024.jpg" alt="kunal nayyar" height="210" width="200">
            </li>
            <li>
                <h3>Penny Teller - Kaley Cuoco</h3>
                <img class="casters" src="https://static.wikia.nocookie.net/dublagem/images/6/6a/Kaley-cuoco-2019.jpg/revision/latest?cb=20221106213731&path-prefix=pt-br" alt="kaley cuoco" height="220" width="170">
            </li>
            <li>
                <h3>Amy Farrah-Fowler - Mayim Balik</h3>
                <img class="casters" src="https://d.ibtimes.com/en/full/2553012/mayim-bialik.jpg?w=736&f=3f643a06f8e906aabbd1010ab328c317" alt="mayim balik" height="220" width="170">
            </li>
            <li>
                <h3>Bernadette Rostenkowski - Melissa Rauch</h3>
                <img class="casters" src="https://media.fstatic.com/VI0TZV6zM6yZ1-xcs_DU04PhWbU=/full-fit-in/290x478/filters:format(webp)/media/artists/avatar/2023/04/melissa-rauch_a105637.jpg" alt="melissa rauch" height="230" width="165">
            </li>
        </ol>

        <h6>Bianca Lima Ferrreira - 03/2024 - SENAI T-DESI</h6>
    </body>
</html>