<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>The Big Bang Theory - TBBT</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <header><a href="/cast">ELENCO</a><a href="/spin">SPIN-OFF</a></header>

        <h1>The Big Bang Theory - A Série Nerd Mais Famosa da História</h1>
        <div><img src="https://s2-techtudo.glbimg.com/wm5ZC7YaKsymz8PuH_Ddl2iYPRY=/0x0:936x528/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2024/R/m/WJIB0aRSqoFo8MSmUmjw/t-b-b-t.png" alt="poster" width="700" height="400"></div>

        <p id="inc">The Big Bang Theory é uma série de comédia nerd, podendo ser considerada a mais famosa e promissora da categoria, que conquistou fãs ao redor do mundo todo.</p>
        <br><br>
        <p>The Big Bang Theory é uma série americana sitcom de comédia, lançada em 24 de setembro de 2007, e encerrada, após de 12 temporadas, em maio de 2019. A narrativa da série conta a história de um grupo de amigos cientistas e nerds, Sheldon, Leonard, Raj e Howard, e da garçonete que sonha em ser atriz, Penny. Ao longo da trama são inseridas as personagens Bernadette e Amy. A narrativa se passa na cidade de Pasadena, Califórnia.</p>
        <br>
        <p>Sheldon Cooper é o personagem principal, um excêntrico físico teórico, um verdadeiro gênio, cheio de manias e trejeitos, irritantes para seus amigos, e engraçados para nós… Ele vive com Leonard Hofstadter, seu melhor amigo e colega de apartamento, um físico experimental. Contamos também com Rajesh Koothrappali, um astrofísico indiano e seu melhor amigo, Howard Wolowitz, um engenheiro aeroespacial. Os quatro compõem o quarteto principal, de cientistas, com uma péssima e cômica relação com mulheres e uma engraçada rotina de passatempos nerds.</p>
        <br>
        <p>Logo no primeiro episódio somos apresentados à Penny Teller, a nova vizinha de porta de Sheldon e Leonard, uma garçonete aspirante a atriz que se mudou para cidade em busca de sua carreira de sucesso, pela qual Leonard rapidamente se apaixona. Mais à frente no show somos apresentados à Bernadette Rostenkowski, uma microbiologista que trabalhava com Penny e interesse amoroso de Howard, e Amy Farrah-Fowler, uma neurobiologista muito inteligente, que se torna uma grande amiga de Sheldon, e quem sabe algo mais…</p>
        <br>
        <p>O show conta com piadas extremamente engraçadas e cativantes, com ganchos extraordinários. O humor é centrado em diálogos e acontecimentos do cotidiano dos amigos, além de pitadas de curiosidades e conhecimentos científicos muito interessantes.</p>
        <br>
        <p>A série foi criada por Chuck Lorre e Bill Prady, tendo sido indicada ao Emmy de Melhor Comédia de 2011 a 2014, e rendendo à Jim Parsons (ator que dá vida ao Sheldon), quatro prêmios Emmy de Melhor Ator em Série de Comédia, e um Globo de Ouro em 2011.</p>
        <br>
        <p>Ao final de suas 12 temporadas, a série contou com 279 episódios produzidos, se tornando a sitcom em formato multicâmera mais duradoura da história da Televisão Norte-Americana.</p>
        <br>
        <p>No Brasil a série é transmitida originalmente pelo canal Warner Channel, além de estar disponível integralmente na plataforma de streaming Max.</p>

        <h6>Bianca Lima Ferrreira - 03/2024 - SENAI T-DESI</h6>
    </body>
</html>