<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Spin-Off de TBBT</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <header><a href="/home">INFO - HOME</a><a href="/cast">ELENCO</a></header>

        <h1>Young Sheldon - O Spin-Off de TBBT</h1>
        <div><img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/11/15/1540496448-young-sheldon.jpg" alt="poster" height="450" width="550"></div>

        <p id="inc">Young Sheldon é uma série de TV norte-americana, originalmente transmitida pelo canal CBS. A série é um Spin-Off de The Big Bang Theory.</p>
        <br><br>
        <p>Após 12 temporadas, TBBT gerou o Spin-Off Young Sheldon, o qual narra a infância e a adolescência de Sheldon Cooper. Ela traz de forma descontraída as experiências de Sheldon ao lidar com o mundo de sua forma excêntrica, excepcional e ingênua.</p>
        <br>
        <p>A série foi lançada no ano de 2017, tendo sido criada por Chuck Lorre e Steven Molaro, além de contar com Jim Parsons, que é o produtor executivo da série, além de ser o narrador da mesma.</p>
        <br>
        <p>Na série somos apresentados também aos membros da família de Sheldon (Iain Armitage), sua mãe, Mary Cooper (Zoe Perry), seu pai, George Cooper (Lance Barber), sua irmã gêmea, Missy Cooper (Raegan Revord), seu irmão mais velho, George Cooper Jr. (Montana Jordan), e por fim, sua avó, Meemaw (Annie Potts).</p>
        <br>
        <p>O foco principal da série é mostrar a relação do jovem gênio Sheldon com sua família “normal” e sua jornada acadêmica nada comum. No Brasil, a série é transmitida, também, pelo canal Warner Channel. Suas temporadas são disponibilizadas na plataforma de streaming, Max.</p>
        <br>
        <p>Atualmente, a série está em sua sétima e última temporada, que contará com 24 episódios, os quais serão disponibilizados posteriormente no Max. Já temos a informação de que Jim Parsons e Mayim Bialik retornaram no último episódio como Sheldon e Amy em uma representação do futuro do personagem.  O último episódio vai ao ar no dia 16 de maio pela CBS, nos Estados Unidos.</p>

        <h6>Bianca Lima Ferrreira - 03/2024 - SENAI T-DESI</h6>
    </body>
</html>